version: "3.8"

services:
  web:
    build: .
    ports:
      - "5000:5000"
      - "5678:5678"
    depends_on:
      - db
      - ollama
    env_file:
      - .env
    environment:
      FLASK_DEBUG_MODE: "0"   # override a 1 quando vuoi il debug
    volumes:
      - .:/app
      - ./logs:/app/logs

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

volumes:
  ollama: